<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <div class="inputWraps">
      <div class="inputText">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputText">
        <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="loginBtn">
      <ion-button>
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>
